<%- include('../partials/header') %>

<h1>My Journals</h1>
<a href="/journals/new">add a journal!</a>


<br>
<br>
<a href="/logout"><i class="material-icons left"></i>Log Out</a>
   
<%- include('../partials/footer') %>
   