<%- include('../partials/header') %>


<h1><%= title %></h1>
<h5>Projects: <%= journal.entries %></h5>
<a href="/projects/new">Add New Project</a><br>
<a href="/journals">Back to Journals</a>

<%- include('../partials/header') %>
